.page-header
  = link_to new_article_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Article
  %h1 Listing articles

= form_tag articles_path, method: :get do
  = text_field_tag :search, params[:search]
  = submit_tag 'Search'

-##facets
-#  %h3 Authors
-#  %ul
-#    - @articles.facets['authors']['terms'].each do |facet|
-#      %li
-#        = link_to_unless_current Author.find(facet['term']).name, params.merge(author_id:facet['term'])
-#        - if params[:author_id] == facet['term'].to_s
-#          = link_to 'remove', author_id:nil
-#        - else
-#          = facet['count']

= paginate @articles
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Author
        %th Name
        %th Content
        %th Published at
        %th
        %th
        %th

    %tbody
      - @articles.each do |article|
        %tr
          %td= article.author.name
          %td= article.name
          %td= article.content
          %td= article.published_at
          %td= link_to 'Show', article
          %td= link_to 'Edit', edit_article_path(article)
          %td= link_to 'Destroy', article, :data => { confirm: 'Are you sure?' }, :method => :delete
